/* bootstrap */
#searchWidget {
  font-size: 12px;

  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#searchWidget * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#searchWidget *:before,
#searchWidget *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#searchWidget form {
  margin: 6px 6px 12px;
}

#searchWidget .radio,
#searchWidget .checkbox,
#searchWidget .radio-inline,
#searchWidget .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
#searchWidget .radio,
#searchWidget .checkbox {
  min-height: 27px;
}
#searchWidget .form-group {
  margin-right: -6px;
  margin-left: -6px;
}
@media (min-width: 768px) {
  #searchWidget .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
#searchWidget .has-feedback .form-control-feedback {
  right: 6px;
}
@media (min-width: 768px) {
  #searchWidget .form-group-lg .control-label {
    padding-top: 14.333333px;
  }
}
@media (min-width: 768px) {
  #searchWidget .form-group-sm .control-label {
    padding-top: 6px;
  }
}

#searchWidget .form-group:before,
#searchWidget .form-group:after {
  display: table;
  content: " ";
}

#searchWidget .form-group:after{
  clear: both;
}

#searchWidget .form-horizontal .form-group {
  margin-right: -6px;
  margin-left: -6px;
}
#searchWidget .form-group {
  margin-bottom: 6px;
}

#searchWidget .row {
  margin-right: -6px;
  margin-left: -6px;
}

#searchWidget .row:before,
#searchWidget .row:after,
#searchWidget .form-horizontal .form-group:before,
#searchWidget .form-horizontal .form-group:after {
  display: table;
  content: " ";
}

#searchWidget .row:after,
#searchWidget .form-horizontal .form-group:after {
  clear: both;
}

#searchWidget .col-xs-1, #searchWidget .col-sm-1, #searchWidget .col-md-1, #searchWidget .col-lg-1, #searchWidget .col-xs-2, #searchWidget .col-sm-2, #searchWidget .col-md-2, #searchWidget .col-lg-2, #searchWidget .col-xs-3, #searchWidget .col-sm-3, #searchWidget .col-md-3, #searchWidget .col-lg-3, #searchWidget .col-xs-4, #searchWidget .col-sm-4, #searchWidget .col-md-4, #searchWidget .col-lg-4, #searchWidget .col-xs-5, #searchWidget .col-sm-5, #searchWidget .col-md-5, #searchWidget .col-lg-5, #searchWidget .col-xs-6, #searchWidget .col-sm-6, #searchWidget .col-md-6, #searchWidget .col-lg-6, #searchWidget .col-xs-7, #searchWidget .col-sm-7, #searchWidget .col-md-7, #searchWidget .col-lg-7, #searchWidget .col-xs-8, #searchWidget .col-sm-8, #searchWidget .col-md-8, #searchWidget .col-lg-8, #searchWidget .col-xs-9, #searchWidget .col-sm-9, #searchWidget .col-md-9, #searchWidget .col-lg-9, #searchWidget .col-xs-10, #searchWidget .col-sm-10, #searchWidget .col-md-10, #searchWidget .col-lg-10, #searchWidget .col-xs-11, #searchWidget .col-sm-11, #searchWidget .col-md-11, #searchWidget .col-lg-11, #searchWidget .col-xs-12, #searchWidget .col-sm-12, #searchWidget .col-md-12, #searchWidget .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
#searchWidget .col-xs-1, #searchWidget .col-xs-2, #searchWidget .col-xs-3, #searchWidget .col-xs-4, #searchWidget .col-xs-5, #searchWidget .col-xs-6, #searchWidget .col-xs-7, #searchWidget .col-xs-8, #searchWidget .col-xs-9, #searchWidget .col-xs-10, #searchWidget .col-xs-11, #searchWidget .col-xs-12 {
  float: left;
}
#searchWidget .col-xs-12 {
  width: 100%;
}
#searchWidget .col-xs-11 {
  width: 91.66666667%;
}
#searchWidget .col-xs-10 {
  width: 83.33333333%;
}
#searchWidget .col-xs-9 {
  width: 75%;
}
#searchWidget .col-xs-8 {
  width: 66.66666667%;
}
#searchWidget .col-xs-7 {
  width: 58.33333333%;
}
#searchWidget .col-xs-6 {
  width: 50%;
}
#searchWidget .col-xs-5 {
  width: 41.66666667%;
}
#searchWidget .col-xs-4 {
  width: 33.33333333%;
}
#searchWidget .col-xs-3 {
  width: 25%;
}
#searchWidget .col-xs-2 {
  width: 16.66666667%;
}
#searchWidget .col-xs-1 {
  width: 8.33333333%;
}
#searchWidget .col-xs-pull-12 {
  right: 100%;
}
#searchWidget .col-xs-pull-11 {
  right: 91.66666667%;
}
#searchWidget .col-xs-pull-10 {
  right: 83.33333333%;
}
#searchWidget .col-xs-pull-9 {
  right: 75%;
}
#searchWidget .col-xs-pull-8 {
  right: 66.66666667%;
}
#searchWidget .col-xs-pull-7 {
  right: 58.33333333%;
}
#searchWidget .col-xs-pull-6 {
  right: 50%;
}
#searchWidget .col-xs-pull-5 {
  right: 41.66666667%;
}
#searchWidget .col-xs-pull-4 {
  right: 33.33333333%;
}
#searchWidget .col-xs-pull-3 {
  right: 25%;
}
#searchWidget .col-xs-pull-2 {
  right: 16.66666667%;
}
#searchWidget .col-xs-pull-1 {
  right: 8.33333333%;
}
#searchWidget .col-xs-pull-0 {
  right: auto;
}
#searchWidget .col-xs-push-12 {
  left: 100%;
}
#searchWidget .col-xs-push-11 {
  left: 91.66666667%;
}
#searchWidget .col-xs-push-10 {
  left: 83.33333333%;
}
#searchWidget .col-xs-push-9 {
  left: 75%;
}
#searchWidget .col-xs-push-8 {
  left: 66.66666667%;
}
#searchWidget .col-xs-push-7 {
  left: 58.33333333%;
}
#searchWidget .col-xs-push-6 {
  left: 50%;
}
#searchWidget .col-xs-push-5 {
  left: 41.66666667%;
}
#searchWidget .col-xs-push-4 {
  left: 33.33333333%;
}
#searchWidget .col-xs-push-3 {
  left: 25%;
}
#searchWidget .col-xs-push-2 {
  left: 16.66666667%;
}
#searchWidget .col-xs-push-1 {
  left: 8.33333333%;
}
#searchWidget .col-xs-push-0 {
  left: auto;
}
#searchWidget .col-xs-offset-12 {
  margin-left: 100%;
}
#searchWidget .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
#searchWidget .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
#searchWidget .col-xs-offset-9 {
  margin-left: 75%;
}
#searchWidget .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
#searchWidget .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
#searchWidget .col-xs-offset-6 {
  margin-left: 50%;
}
#searchWidget .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
#searchWidget .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
#searchWidget .col-xs-offset-3 {
  margin-left: 25%;
}
#searchWidget .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
#searchWidget .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
#searchWidget .col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  #searchWidget .col-sm-1, #searchWidget .col-sm-2, #searchWidget .col-sm-3, #searchWidget .col-sm-4, #searchWidget .col-sm-5, #searchWidget .col-sm-6, #searchWidget .col-sm-7, #searchWidget .col-sm-8, #searchWidget .col-sm-9, #searchWidget .col-sm-10, #searchWidget .col-sm-11, #searchWidget .col-sm-12 {
    float: left;
  }
  #searchWidget .col-sm-12 {
    width: 100%;
  }
  #searchWidget .col-sm-11 {
    width: 91.66666667%;
  }
  #searchWidget .col-sm-10 {
    width: 83.33333333%;
  }
  #searchWidget .col-sm-9 {
    width: 75%;
  }
  #searchWidget .col-sm-8 {
    width: 66.66666667%;
  }
  #searchWidget .col-sm-7 {
    width: 58.33333333%;
  }
  #searchWidget .col-sm-6 {
    width: 50%;
  }
  #searchWidget .col-sm-5 {
    width: 41.66666667%;
  }
  #searchWidget .col-sm-4 {
    width: 33.33333333%;
  }
  #searchWidget .col-sm-3 {
    width: 25%;
  }
  #searchWidget .col-sm-2 {
    width: 16.66666667%;
  }
  #searchWidget .col-sm-1 {
    width: 8.33333333%;
  }
  #searchWidget .col-sm-pull-12 {
    right: 100%;
  }
  #searchWidget .col-sm-pull-11 {
    right: 91.66666667%;
  }
  #searchWidget .col-sm-pull-10 {
    right: 83.33333333%;
  }
  #searchWidget .col-sm-pull-9 {
    right: 75%;
  }
  #searchWidget .col-sm-pull-8 {
    right: 66.66666667%;
  }
  #searchWidget .col-sm-pull-7 {
    right: 58.33333333%;
  }
  #searchWidget .col-sm-pull-6 {
    right: 50%;
  }
  #searchWidget .col-sm-pull-5 {
    right: 41.66666667%;
  }
  #searchWidget .col-sm-pull-4 {
    right: 33.33333333%;
  }
  #searchWidget .col-sm-pull-3 {
    right: 25%;
  }
  #searchWidget .col-sm-pull-2 {
    right: 16.66666667%;
  }
  #searchWidget .col-sm-pull-1 {
    right: 8.33333333%;
  }
  #searchWidget .col-sm-pull-0 {
    right: auto;
  }
  #searchWidget .col-sm-push-12 {
    left: 100%;
  }
  #searchWidget .col-sm-push-11 {
    left: 91.66666667%;
  }
  #searchWidget .col-sm-push-10 {
    left: 83.33333333%;
  }
  #searchWidget .col-sm-push-9 {
    left: 75%;
  }
  #searchWidget .col-sm-push-8 {
    left: 66.66666667%;
  }
  #searchWidget .col-sm-push-7 {
    left: 58.33333333%;
  }
  #searchWidget .col-sm-push-6 {
    left: 50%;
  }
  #searchWidget .col-sm-push-5 {
    left: 41.66666667%;
  }
  #searchWidget .col-sm-push-4 {
    left: 33.33333333%;
  }
  #searchWidget .col-sm-push-3 {
    left: 25%;
  }
  #searchWidget .col-sm-push-2 {
    left: 16.66666667%;
  }
  #searchWidget .col-sm-push-1 {
    left: 8.33333333%;
  }
  #searchWidget .col-sm-push-0 {
    left: auto;
  }
  #searchWidget .col-sm-offset-12 {
    margin-left: 100%;
  }
  #searchWidget .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  #searchWidget .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  #searchWidget .col-sm-offset-9 {
    margin-left: 75%;
  }
  #searchWidget .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  #searchWidget .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  #searchWidget .col-sm-offset-6 {
    margin-left: 50%;
  }
  #searchWidget .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  #searchWidget .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  #searchWidget .col-sm-offset-3 {
    margin-left: 25%;
  }
  #searchWidget .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  #searchWidget .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  #searchWidget .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  #searchWidget .col-md-1, #searchWidget .col-md-2, #searchWidget .col-md-3, #searchWidget .col-md-4, #searchWidget .col-md-5, #searchWidget .col-md-6, #searchWidget .col-md-7, #searchWidget .col-md-8, #searchWidget .col-md-9, #searchWidget .col-md-10, #searchWidget .col-md-11, #searchWidget .col-md-12 {
    float: left;
  }
  #searchWidget .col-md-12 {
    width: 100%;
  }
  #searchWidget .col-md-11 {
    width: 91.66666667%;
  }
  #searchWidget .col-md-10 {
    width: 83.33333333%;
  }
  #searchWidget .col-md-9 {
    width: 75%;
  }
  #searchWidget .col-md-8 {
    width: 66.66666667%;
  }
  #searchWidget .col-md-7 {
    width: 58.33333333%;
  }
  #searchWidget .col-md-6 {
    width: 50%;
  }
  #searchWidget .col-md-5 {
    width: 41.66666667%;
  }
  #searchWidget .col-md-4 {
    width: 33.33333333%;
  }
  #searchWidget .col-md-3 {
    width: 25%;
  }
  #searchWidget .col-md-2 {
    width: 16.66666667%;
  }
  #searchWidget .col-md-1 {
    width: 8.33333333%;
  }
  #searchWidget .col-md-pull-12 {
    right: 100%;
  }
  #searchWidget .col-md-pull-11 {
    right: 91.66666667%;
  }
  #searchWidget .col-md-pull-10 {
    right: 83.33333333%;
  }
  #searchWidget .col-md-pull-9 {
    right: 75%;
  }
  #searchWidget .col-md-pull-8 {
    right: 66.66666667%;
  }
  #searchWidget .col-md-pull-7 {
    right: 58.33333333%;
  }
  #searchWidget .col-md-pull-6 {
    right: 50%;
  }
  #searchWidget .col-md-pull-5 {
    right: 41.66666667%;
  }
  #searchWidget .col-md-pull-4 {
    right: 33.33333333%;
  }
  #searchWidget .col-md-pull-3 {
    right: 25%;
  }
  #searchWidget .col-md-pull-2 {
    right: 16.66666667%;
  }
  #searchWidget .col-md-pull-1 {
    right: 8.33333333%;
  }
  #searchWidget .col-md-pull-0 {
    right: auto;
  }
  #searchWidget .col-md-push-12 {
    left: 100%;
  }
  #searchWidget .col-md-push-11 {
    left: 91.66666667%;
  }
  #searchWidget .col-md-push-10 {
    left: 83.33333333%;
  }
  #searchWidget .col-md-push-9 {
    left: 75%;
  }
  #searchWidget .col-md-push-8 {
    left: 66.66666667%;
  }
  #searchWidget .col-md-push-7 {
    left: 58.33333333%;
  }
  #searchWidget .col-md-push-6 {
    left: 50%;
  }
  #searchWidget .col-md-push-5 {
    left: 41.66666667%;
  }
  #searchWidget .col-md-push-4 {
    left: 33.33333333%;
  }
  #searchWidget .col-md-push-3 {
    left: 25%;
  }
  #searchWidget .col-md-push-2 {
    left: 16.66666667%;
  }
  #searchWidget .col-md-push-1 {
    left: 8.33333333%;
  }
  #searchWidget .col-md-push-0 {
    left: auto;
  }
  #searchWidget .col-md-offset-12 {
    margin-left: 100%;
  }
  #searchWidget .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  #searchWidget .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  #searchWidget .col-md-offset-9 {
    margin-left: 75%;
  }
  #searchWidget .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  #searchWidget .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  #searchWidget .col-md-offset-6 {
    margin-left: 50%;
  }
  #searchWidget .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  #searchWidget .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  #searchWidget .col-md-offset-3 {
    margin-left: 25%;
  }
  #searchWidget .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  #searchWidget .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  #searchWidget .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  #searchWidget .col-lg-1, #searchWidget .col-lg-2, #searchWidget .col-lg-3, #searchWidget .col-lg-4, #searchWidget .col-lg-5, #searchWidget .col-lg-6, #searchWidget .col-lg-7, #searchWidget .col-lg-8, #searchWidget .col-lg-9, #searchWidget .col-lg-10, #searchWidget .col-lg-11, #searchWidget .col-lg-12 {
    float: left;
  }
  #searchWidget .col-lg-12 {
    width: 100%;
  }
  #searchWidget .col-lg-11 {
    width: 91.66666667%;
  }
  #searchWidget .col-lg-10 {
    width: 83.33333333%;
  }
  #searchWidget .col-lg-9 {
    width: 75%;
  }
  #searchWidget .col-lg-8 {
    width: 66.66666667%;
  }
  #searchWidget .col-lg-7 {
    width: 58.33333333%;
  }
  #searchWidget .col-lg-6 {
    width: 50%;
  }
  #searchWidget .col-lg-5 {
    width: 41.66666667%;
  }
  #searchWidget .col-lg-4 {
    width: 33.33333333%;
  }
  #searchWidget .col-lg-3 {
    width: 25%;
  }
  #searchWidget .col-lg-2 {
    width: 16.66666667%;
  }
  #searchWidget .col-lg-1 {
    width: 8.33333333%;
  }
  #searchWidget .col-lg-pull-12 {
    right: 100%;
  }
  #searchWidget .col-lg-pull-11 {
    right: 91.66666667%;
  }
  #searchWidget .col-lg-pull-10 {
    right: 83.33333333%;
  }
  #searchWidget .col-lg-pull-9 {
    right: 75%;
  }
  #searchWidget .col-lg-pull-8 {
    right: 66.66666667%;
  }
  #searchWidget .col-lg-pull-7 {
    right: 58.33333333%;
  }
  #searchWidget .col-lg-pull-6 {
    right: 50%;
  }
  #searchWidget .col-lg-pull-5 {
    right: 41.66666667%;
  }
  #searchWidget .col-lg-pull-4 {
    right: 33.33333333%;
  }
  #searchWidget .col-lg-pull-3 {
    right: 25%;
  }
  #searchWidget .col-lg-pull-2 {
    right: 16.66666667%;
  }
  #searchWidget .col-lg-pull-1 {
    right: 8.33333333%;
  }
  #searchWidget .col-lg-pull-0 {
    right: auto;
  }
  #searchWidget .col-lg-push-12 {
    left: 100%;
  }
  #searchWidget .col-lg-push-11 {
    left: 91.66666667%;
  }
  #searchWidget .col-lg-push-10 {
    left: 83.33333333%;
  }
  #searchWidget .col-lg-push-9 {
    left: 75%;
  }
  #searchWidget .col-lg-push-8 {
    left: 66.66666667%;
  }
  #searchWidget .col-lg-push-7 {
    left: 58.33333333%;
  }
  #searchWidget .col-lg-push-6 {
    left: 50%;
  }
  #searchWidget .col-lg-push-5 {
    left: 41.66666667%;
  }
  #searchWidget .col-lg-push-4 {
    left: 33.33333333%;
  }
  #searchWidget .col-lg-push-3 {
    left: 25%;
  }
  #searchWidget .col-lg-push-2 {
    left: 16.66666667%;
  }
  #searchWidget .col-lg-push-1 {
    left: 8.33333333%;
  }
  #searchWidget .col-lg-push-0 {
    left: auto;
  }
  #searchWidget .col-lg-offset-12 {
    margin-left: 100%;
  }
  #searchWidget .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  #searchWidget .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  #searchWidget .col-lg-offset-9 {
    margin-left: 75%;
  }
  #searchWidget .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  #searchWidget .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  #searchWidget .col-lg-offset-6 {
    margin-left: 50%;
  }
  #searchWidget .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  #searchWidget .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  #searchWidget .col-lg-offset-3 {
    margin-left: 25%;
  }
  #searchWidget .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  #searchWidget .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  #searchWidget .col-lg-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  #searchWidget .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

#searchWidget label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}

#searchWidget .form-control:-ms-input-placeholder {
  color: #999;
}

#searchWidget .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#searchWidget .form-control:focus {
  border-color: #ab37f1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#searchWidget .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
#searchWidget .form-control:-ms-input-placeholder {
  color: #999;
}
#searchWidget .form-control::-webkit-input-placeholder {
  color: #999;
}
#searchWidget .form-control[disabled],
#searchWidget .form-control[readonly],
#searchWidget fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
#searchWidget .form-control[disabled],
#searchWidget fieldset[disabled] .form-control {
  cursor: not-allowed;
}

#searchWidget input,
#searchWidget button,
#searchWidget select,
#searchWidget textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#searchWidget button,
#searchWidget input,
#searchWidget optgroup,
#searchWidget select,
#searchWidget textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
#searchWidget button {
  overflow: visible;
}
#searchWidget button,
#searchWidget select {
  text-transform: none;
}
#searchWidget button,
#searchWidget html input[type="button"],
#searchWidget input[type="reset"],
#searchWidget input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#searchWidget button[disabled],
#searchWidget html input[disabled] {
  cursor: default;
}
#searchWidget button::-moz-focus-inner,
#searchWidget input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#searchWidget .text-danger {
  color: #d9534f;
}

#searchWidget h5,
#searchWidget .h5 {
  font-size: 14px;
}
#searchWidget h4,
#searchWidget .h4,
#searchWidget h5,
#searchWidget .h5,
#searchWidget h6,
#searchWidget .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#searchWidget h1,
#searchWidget h2,
#searchWidget h3,
#searchWidget h4,
#searchWidget h5,
#searchWidget h6,
#searchWidget .h1,
#searchWidget .h2,
#searchWidget .h3,
#searchWidget .h4,
#searchWidget .h5,
#searchWidget .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#searchWidget .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

#searchWidget .btn-default {
  color: #fff;
  background-color: #afa90f;
}
#searchWidget .btn-default:hover,
#searchWidget .btn-default:focus,
#searchWidget .btn-default.focus,
#searchWidget .btn-default:active,
#searchWidget .btn-default.active,
#searchWidget .open > #searchWidget .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #8e9305;
  border-color: #516900;
}


#searchWidget .btn-default,
#searchWidget .btn-primary,
#searchWidget .btn-success,
#searchWidget .btn-info,
#searchWidget .btn-warning,
#searchWidget .btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
#searchWidget .btn-default:active,
#searchWidget .btn-primary:active,
#searchWidget .btn-success:active,
#searchWidget .btn-info:active,
#searchWidget .btn-warning:active,
#searchWidget .btn-danger:active,
#searchWidget .btn-default.active,
#searchWidget .btn-primary.active,
#searchWidget .btn-success.active,
#searchWidget .btn-info.active,
#searchWidget .btn-warning.active,
#searchWidget .btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#searchWidget .btn-default {
  text-shadow: 0 1px 0 #afa90f;
  background-image: -webkit-linear-gradient(top, #afa90f 0%, #8e9305 100%);
  background-image:      -o-linear-gradient(top, #afa90f 0%, #8e9305 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#afa90f), to(#8e9305));
  background-image:         linear-gradient(to bottom, #afa90f 0%, #8e9305 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffafa90f', endColorstr='#ff8e9305', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #516900;
}
#searchWidget .btn-default:hover,
#searchWidget .btn-default:focus {
  background-color: #8e9305;
  background-position: 0 -15px;
}

#searchWidget .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#searchWidget .btn:focus,
#searchWidget .btn:active:focus,
#searchWidget .btn.active:focus,
#searchWidget .btn.focus,
#searchWidget .btn:active.focus,
#searchWidget .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#searchWidget .btn:hover,
#searchWidget .btn:focus,
#searchWidget .btn.focus {
  color: #333;
  text-decoration: none;
}
#searchWidget .btn:active,
#searchWidget .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#searchWidget .btn.disabled,
#searchWidget .btn[disabled],
#searchWidget fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

#searchWidget .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
#searchWidget .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#searchWidget .input-group-addon,
#searchWidget .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
#searchWidget .input-group-addon,
#searchWidget .input-group-btn,
#searchWidget .input-group .form-control {
  display: table-cell;
}
#searchWidget .input-group-addon:first-child {
  border-right: 0;
}
#searchWidget .input-group .form-control:first-child,
#searchWidget .input-group-addon:first-child,
#searchWidget .input-group-btn:first-child > .btn,
#searchWidget .input-group-btn:first-child > .btn-group > .btn,
#searchWidget .input-group-btn:first-child > .dropdown-toggle,
#searchWidget .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
#searchWidget .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchWidget .input-group .form-control:last-child,
#searchWidget .input-group-addon:last-child,
#searchWidget .input-group-btn:last-child > .btn,
#searchWidget .input-group-btn:last-child > .btn-group > .btn,
#searchWidget .input-group-btn:last-child > .dropdown-toggle,
#searchWidget .input-group-btn:first-child > .btn:not(:first-child),
#searchWidget .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#searchWidget .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}



/* auto complete */
#searchWidget .ui-zsl-autocomplete-input.ui-zsl-autocomplete-loading {
    background-image: url('../Content/Images/Others/loading-small.gif') !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
}

/* roomSelection */
#searchWidget .roomSelection {
    list-style-type: none;
    margin-left: -40px;
    height: auto;
    z-index: 3;
    padding-left: 36px;
}

    #searchWidget .roomSelection > li {
        padding-bottom: 3px;
        /*background-color: white;*/
    }